<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>
<body class="bg-light" oncopy="return false" onpaste="return false">
<div class="container-fluid">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
            <div class="col-6">
                <h5 class="text-white mt-2 ">Creación de usuario</h5>
            </div>
            <div class="col-2 py-4 text-center">  
            </div>
            <div class="col-4 text-center">
                <a href="/usuario" class="btn btn-warning w-25 rounded bi bi-arrow-return-left"></a>
            </div>
    </div>
</div>
<form th:action="@{/form}" method="post" th:object="${usuario}" enctype="multipart/form-data">
<div class="container py-4">
    <div class="p-4 shadow-lg rounded bg-white">
    <div class="row mb-4">
        <h5 class="text-primary mb-3">Informacion</h5>
            <label for="imagenFile" class="form-label fw-bold">Imagen</label>
            <img id="previewImage" style="max-width: 250px; margin-bottom: 20px; max-height: auto" class="mx-auto" th:src="'data:image/png;base64,' + ${usuario.imagen}"/>
            <input type="file" class="form-control mb-3 mx-1" name="imagenFile" id="imagenFile" accept="image/*">
        <div class="col-md-4">
            <label for="NombreUsuario" class="form-label">Nombre</label>
            <input id="NombreUsuario" type="text" class="form-control" th:field="*{Nombre}" onkeypress="SoloLetraNombre(this, event)" onblur="SoloLetraNombreBlur(this)">
            <span id="errorNombreUsuario" style="color: red"</span>
            <span class="text-danger" th:if="${#fields.hasErrors('Nombre')}" th:errors="*{Nombre}"</span>
        </div>
        <div class="col-md-4">
            <label for="ApellidoPaternoUsuario" class="form-label">Apellido Paterno</label>
            <input id="ApellidoPaternoUsuario" type="text" class="form-control" th:field="*{ApellidoPaterno}" onkeypress="SoloLetra(this, event)" onblur="SoloLetraBlur(this)">
            <span id="errorApellidoPaternoUsuario" style="color: red"</span>
            <span class="text-danger" th:if="${#fields.hasErrors('ApellidoPaterno')}" th:errors="*{ApellidoPaterno}"</span>
        </div>
        <div class="col-md-4">
            <label for="ApellidoMaternoUsuario" class="form-label">Apellido Materno</label>
            <input id="ApellidoMaternoUsuario" type="text" class="form-control" th:field="*{ApellidoMaterno}" onkeypress="SoloLetra(this, event)" onblur="SoloLetraBlur(this)">
            <span id="errorApellidoMaternoUsuario" style="color: red"</span>
            <span class="text-danger" th:if="${#fields.hasErrors('ApellidoMaterno')}" th:errors="*{ApellidoMaterno}"</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3">
            <label class="form-label d-block">Sexo</label> 
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" th:field="*{Sexo}" value="M" id="sexoM">
                <label class="form-check-label" for="sexoM">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" th:field="*{Sexo}" value="F" id="sexoF">
                <label class="form-check-label" for="sexoF">Femenino</label>
            </div>
            <span class="text-danger" th:if="${#fields.hasErrors('Sexo')}" th:errors="*{Sexo}"></span>
        </div>
        <div class="col-md-5">
            <label for="CURPUsuario" class="form-label">CURP</label>
            <input id="CURPUsuario" type="text" class="form-control" th:field="*{CURP}" onkeypress="SoloNumerosLetrasUpper(this, event)" onblur="SoloNumerosLetrasUpperBlur(this)">
            <span id="errorCURPUsuario" style="color: red"></span>
            <span class="text-danger" th:if="${#fields.hasErrors('CURP')}" th:errors="*{CURP}"</span>
        </div>
        <div class="col-sm-4">
            <label for="FechaNacimientoUsuario" class="form-label">Fecha de nacimiento</label>
            <input id="FechaNacimientoUsuario" type="date" class="form-control" th:field="*{FechaNacimiento}" onkeydown="return false">
            <span class="text-danger" th:if="${#fields.hasErrors('FechaNacimiento')}" th:errors="*{FechaNacimiento}"></span>
        </div>
    </div>
    </div>
</div>
<div class="container py-4">
    <div class="p-4 shadow-lg rounded bg-white">
    <div class="row mb-4 mt-4">
        <h5 class="text-primary mb-3">Contacto</h5>
        <div class="col-md-4">
            <label for="UsernameUsuario" class="form-label">Usuario</label>
            <input id="UsernameUsuario" type="text" class="form-control" th:field="*{Username}" onkeypress="SoloNumerosLetras(this, event)" onblur="SoloNumerosLetrasBlur(this)">
            <span id="errorUsernameUsuario" style="color: red"></span>
            <span class="text-danger" th:if="${#fields.hasErrors('Username')}" th:errors="*{Username}"</span>
        </div>
        <div class="col-md-4">
            <label class="form-label">Rol</label>
            <select class="form-select"  th:field="*{roles.idRol}">
                <option value=0 selected>Selecciona un rol</option>
                <option th:each="rol : ${roles}" 
                        th:value="${rol.idRol}" 
                        th:text="${rol.NombreRol}">
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="EmailUsuario" class="form-label">Email</label>
            <input id="EmailUsuario" type="text" class="form-control" th:field="*{Email}">
            <span id="errorEmailUsuario" style="color: red"></span>
            <span class="text-danger" th:if="${#fields.hasErrors('Email')}" th:errors="*{Email}"</span>
        </div>
    </div>
    <div class="row mb-4 mt-4">
        <div class="col-sm-4">
            <label for="TelefonoUsuario" class="form-label">Teléfono</label>
            <input id="TelefonoUsuario" type="text" class="form-control" th:field="*{Telefono}" onkeypress="SoloNumeros(this, event)" onblur="SoloNumerosBlur(this)">
            <span id="errorTelefonoUsuario" style="color: red"><span>
            <span class="text-danger" th:if="${#fields.hasErrors('Telefono')}" th:errors="*{Telefono}"</span>
        </div>
        <div class="col-sm-4">
            <label for="CelularUsuario" class="form-label">Celular</label>
            <input id="CelularUsuario" type="text" class="form-control" th:field="*{Celular}" onkeypress="SoloNumeros(this, event)" onblur="SoloNumerosBlur(this)">
            <span id="errorCelularUsuario" style="color: red"</span>
            <span class="text-danger" th:if="${#fields.hasErrors('Celular')}" th:errors="*{Celular}"</span>
        </div>
        <div class="col-sm-4">
            <label for="PasswordUsuario" class="form-label">Contraseña</label>
            <input id="PasswordUsuario"type="password" class="form-control" th:field="*{Password}">
            <span class="text-danger" th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}"</span>
        </div>
    </div>
    </div>
</div>
<div class="container py-4">
    <div class="p-4 shadow-lg rounded bg-white">
        <div class="row mb-4 mt-4">
            <h5 class="text-primary mb-3">Dirección</h5>
            <div class="col-md-2">
                <label class="form-label">País</label>
                <select id="ddlPais" class="form-select" th:field="*{Direcciones[0].Colonia.Municipio.Estado.Pais.idPais}">
                    <option value=0 selected>Selecciona un pais</option>
                    <option th:each="pais : ${paises}" 
                            th:value="${pais.idPais}" 
                            th:text="${pais.Nombre}">
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label">Estado</label>
                <select id="ddlEstado" class="form-select" th:field="*{Direcciones[0].Colonia.Municipio.Estado.idEstado}">
                    <option value=0 selected>Selecciona un estado</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label">Municipio</label>
                <select id="ddlMunicipio" class="form-select" th:field="*{Direcciones[0].Colonia.Municipio.idMunicipio}">
                    <option value=0 selected>Selecciona un municipio</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Colonia</label>
                <select id="ddlColonia" class="form-select" th:field="*{Direcciones[0].Colonia.idColonia}">
                    <option value=0 selected>Selecciona una colonia</option>
                </select>
            </div>
        </div>
        <div class="row mb-4 mt-4">
            <div class="col-md-4">
                <label class="form-label">Codigo Postal</label>
                <select id="ddlCodigoPostal" class="form-control" th:field="*{Direcciones[0].Colonia.CodigoPostal}">
                        <option value=0 selected>Selecciona una codigo postal</option>
                </select>
            </div>
            <div class="col-md-2">
                <label  for="NumeroExteriorUsuario" class="form-label">No. Exterior</label>
                <input id="NumeroExteriorUsuario" type="text" class="form-control" th:field="*{direcciones[0].numeroExterior}" onkeypress="SoloNumeros(this, event)" onblur="SoloNumerosBlur(this)">
                <span id="errorNumeroExteriorUsuario" style="color: red"></span>
            </div>
            <div class="col-md-2">
                <label for="NumeroInteriorUsuario" class="form-label">No. Interior</label>
                <input id="NumeroInteriorUsuario" type="text" class="form-control" th:field="*{direcciones[0].numeroInterior}" onkeypress="SoloNumeros(this, event)" onblur="SoloNumerosBlur(this)">
                <span id="errorNumeroInteriorUsuario" style="color: red"></span>
            </div>
            <div class="col-md-4">
                <label for="CalleUsuario" class="form-label">Calle</label>
                <input id="CalleUsuario" type="text" class="form-control" th:field="*{direcciones[0].calle}" onkeypress="SoloNumerosLetras(this, event)" onblur="SoloNumerosLetrasBlur(this)">
                <span id="errorCalleUsuario" style="color: red"></span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success mb-4 w-100 fw-bold">Agregar</button>
            </div>
        </div>
    </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
    $('#imagenFile').on('change', function() {
        const input = this;
        
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                $('#previewImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    });
});
    $(document).ready(function(){
        $("#ddlPais").change(function(){
            var idPais = $("#ddlPais").val();

            if(idPais != 0){
                $.ajax({
                    type: 'GET',
                    url: '/usuario/estados/' + idPais,
                    success: function(response){
                        $("#ddlEstado").empty();
                        $("#ddlEstado").append('<option value=0 selected>Selecciona un estado</option>');
                        $.each(response.objects, function(i, estado){
                            $("#ddlEstado").append(
                                '<option value="' + estado.idEstado + '">' + estado.Nombre + '</option>'
                            );
                        });
                    },
                    error: function (){
                        alert("Error al cargar los estados")
                    }
                });
            } else {
                $("#ddlEstado").empty();
                $("#ddlEstado").append("<option value=0 selected>Selecciona un estado</option>");
                $("#ddlMunicipio").empty();
                $("#ddlMunicipio").append("<option value=0 selected>Selecciona un municipio</option>");
                $("#ddlColonia").empty();
                $("#ddlColonia").append("<option value=0 selected>Selecciona una colonia</option>");
                $("#ddlCodigoPostal").empty();
                $("#ddlCodigoPostal").append("<option value=0 selected>Selecciona un codigo postal</option>");
            }
        });
        
    });
    $(document).ready(function(){

    $("#ddlEstado").change(function(){

        var idEstado = $(this).val();

        // Limpiar municipios y colonias
        $("#ddlMunicipio").empty().append('<option value="0">Selecciona un municipio</option>');
        $("#ddlColonia").empty().append('<option value="0">Selecciona una colonia</option>');

        if(idEstado != 0){

            $.ajax({
                type: "GET",
                url: "/usuario/municipios/" + idEstado,
                success: function(response){

                    console.log(response.objects); // para verificar

                    $.each(response.objects, function(i, municipio){

                        $("#ddlMunicipio").append(
                            '<option value="' + municipio.idMunicipio + '">' 
                            + municipio.Nombre + 
                            '</option>'
                        );
                    });
                },
                error: function(){
                    alert("Error al cargar municipios");
                }
            });
        }
    });

    });
    $(document).ready(function(){

    $("#ddlMunicipio").change(function(){

        var idMunicipio = $(this).val();
        
        $("#ddlColonia").empty().append('<option value="0">Selecciona una colonia</option>');

        if(idMunicipio != 0){

            $.ajax({
                type: "GET",
                url: "/usuario/colonias/" + idMunicipio,
                success: function(response){
                    $.each(response.objects, function(i, colonia){
                        $("#ddlColonia").append(
                            '<option value="' + colonia.idColonia + '" data-cp="' + colonia.CodigoPostal + '">' 
                            + colonia.Nombre + 
                            '</option>'
                        );
                    });
                },
                error: function(){
                    alert("Error al cargar colonias");
                }
            });
        }
    });
    });
    $("#ddlColonia").change(function() {
    var idColonia = $(this).val();
    
    var cp = $(this).find(':selected').data('cp');
    
    $("#ddlCodigoPostal").empty();

    if(idColonia != "0" && cp != undefined) {
        
        $("#ddlCodigoPostal").append('<option value="' + cp + '">' + cp + '</option>');
        $("#ddlCodigoPostal").prop("disabled", false);
    } else {
        $("#ddlCodigoPostal").append('<option value="0">CP</option>');
        $("#ddlCodigoPostal").prop("disabled", true);
    }
}); 
    function SoloLetraNombre(input, event){
        var valorCompleto = $(input).val() + event.key
        console.log(valorCompleto)
        var regex = /^[a-zA-Z ]+$/;
        if(regex.test(valorCompleto)){
            $('#error' +input.id+'').text('')
            $(input).removeClass('border border-danger')
        }else{
            console.log("no paso la expresion regular")
            event.preventDefault()
            $(input).addClass('border border-danger')
            $('#error'+input.id+'').text('Solo letras').css('color: red')
        }
    }
    function SoloLetraNombreBlur(input){
        var regex = /^[a-zA-Z ]+$/;
        if(regex.test($(input).val())){
            $('#error' +input.id+'').text('')
            $(input).removeClass('border border-danger')
            $(input).addClass('border border-success')
        }
    }
    function SoloLetra(input, event){
        var valorCompleto = $(input).val() + event.key
        console.log(valorCompleto)
        var regex = /^[a-zA-Z]+$/;
        if(regex.test(valorCompleto)){
            $('#error' +input.id+'').text('')
            $(input).removeClass('border border-danger')
        }else{
            console.log("no paso la expresion regular")
            event.preventDefault()
            $(input).addClass('border border-danger')
            $('#error'+input.id+'').text('Solo letras').css('color: red')
        }
    }
    function SoloLetraBlur(input){
        var regex = /^[a-zA-Z]+$/;
        if(regex.test($(input).val())){
            $('#error' +input.id+'').text('')
            $(input).removeClass('border border-danger')
            $(input).addClass('border border-success')
        }
    }
    function SoloNumeros(input, event){
        var regex = /^[0-9]+$/;
        var valorCompleto = $(input).val() + event.key
        if(regex.test(valorCompleto)){
            $('#error' +input.id+'').text('')
            $(input).removeClass('border border-danger')
        }else{
            event.preventDefault()
            $(input).addClass('border border-danger')   
            $('#error'+input.id+'').text('Solo numeros').css('color: red')
        }
    }
    function SoloNumerosBlur(input){
        var regex = /^[0-9]+$/;
        if(regex.test($(input).val())){
            $('#error'+input.id+'').text('')
            $(input).removeClass('border border-danger')
            $(input).addClass('border border-success')
        }   
    }
    function SoloNumerosLetras(input, event){
        var regex = /^[a-zA-Z0-9]+$/;
        var valorCompleto = $(input).val()+ event.key
        if(regex.test(valorCompleto)){
            $('#error'+input.id+ '').text('')
            $(input).removeClass('border border-danger')
        }else{
            event.preventDefault()
            $(input).addClass('border border-danger')
            $('#error'+input.id+'').text('Solo letras y numeros').css('color: red')
        }
    }
    function SoloNumerosLetrasBlur(input){
        var regex = /^[a-zA-Z0-9]+$/;
        if(regex.test($(input).val())){
            $('#error'+input.id+'').text('')
            $(input).removeClass('border border-danger')
            $(input).addClass('border border-success')
        }
    }
    function SoloNumerosLetrasUpper(input, event){
        var regex = /^[A-Z0-9]+$/;
        var valorCompleto = $(input).val()+ event.key
        if(regex.test(valorCompleto)){
            $('#error' +input.id+ '').text('')
            $(input).removeClass('border border-danger')
        }else{
            event.preventDefault()
            $(input).addClass('border border-danger')
            $('#error'+input.id+'').text('Solo mayusculas y numeros').css('color: red')
        }
    }
    function SoloNumerosLetrasUpperBlur(input){
        var regex = /^[A-Z0-9]+$/;
        if(regex.test($(input).val())){
            $('#error'+input.id+'').text('')
            $(input).removeClass('border border-danger')
            $(input).addClass('border border-success')
        }
    }
    function SoloCorreo (input, event){
            var regex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        var valorCompleto = $(input).val() + event.key
        if(regex.test(valorCompleto)){
            $('#error' +input.id+ ''),text('')
            $(input).removeClass('border border-success')
        } else {
            event.preventDefault()
            $(input).addClass('border border-danger')
            $('#error'+input.id+'').text('Solo validacion correo').css('color: red')
        }
    }
    function SoloCorreoBlur(input){
        var regex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        if(regex.test($(input).val())){
            $('#error'+input.id+'').text('')
            $(input).removeClass('border beroder-danger')
            $(input).addClass('border border-success')
        }
    }
    function SoloContraseña (input, event){
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%?&])(?=.*\\s).{8,15}$/;
        var valorCompleto =$(input).val()+ event.key
        if(regex.test(valorCompleto)){
            $('#error' +input.id+ '').text('')
            $(input).removeClass('border border-danger')
        } else{
            event.preventDefault()
            $(input).addClass('border border-danger')
            $('#error' +input.id+ '').text('Debe tener al menos \n\
                                            Minimo 8 caracteres Maximo 15 caracteres\n\
                                            Al menos una letra mayúscula \n\
                                            Al menos una letra minucula \n\
                                            Al menos un dígito \n\
                                            No espacios en blanco \n\
                                            Al menos un caracter especial')
        }
    }
    function SoloContraseñaBlur(input){
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%?&])(?=.*\\s).{8,15}$/;
        if(regex.test($(input).val())){
            $('#error'+input.id+'').text('')
            $(input).removeClass('border border-danger')
            $(input).addClass('border border-success')
        }
    }
</script>
</body>
</html>
