<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    <body class="bg-light">
        <div class="container-fluid">
            <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
                <div class="col-6">
                    <h5 class="text-white mt-2 ">Información de usuario</h5>
                </div>
                <div class="col-2 py-4 text-center">  
                </div>
                <div class="col-4 text-center">
                    <a href="/usuario" class="btn btn-warning w-25 rounded bi bi-arrow-return-left"></a>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="p-4 shadow-lg rounded bg-white">
                <div class="row mb-4">
                    <h5 class="text-primary mb-3">Informacion</h5>
                    <div class="col-md-12">
                        <label class="form-label fw-bold">Imagen</label>
                        <img th:if="${usuario.imagen != null}" th:src="'data:image/jpeg;base64,' + ${usuario.imagen}" style="max-width: 250px; margin-bottom: 20px; max-height: auto" class="img-thumbnail mx-auto d-block"/>
                        <img th:unless="${usuario.imagen != null}"  th:src="@{/img/usuario.png}" style="max-width: 250px; margin-bottom: 20px; max-height: auto" class="img-thumbnail mx-auto d-block"/>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" th:value="${usuario.Nombre}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" th:value="${usuario.ApellidoPaterno}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" th:value="${usuario.ApellidoMaterno}" readonly>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="form-label">CURP</label>
                        <input type="text" class="form-control" th:value="${usuario.CURP}" readonly>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" th:value="${#dates.format(usuario.FechaNacimiento,'yyyy-MM-dd')}" readonly>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Sexo</label>
                        <input type="text" class="form-control" th:value="${usuario.Sexo.toString() == 'M' ? 'Masculino' : 'Femenino'}" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="p-4 shadow-lg rounded bg-white">
                <div class="row mb-4">
                    <h5 class="text-primary mb-3">Contacto</h5>
                    <div class="col-md-4">
                        <label class="form-label">Usuario</label>
                        <input type="text" class="form-control" th:value="${usuario.Username}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Rol</label>
                        <input type="text" class="form-control" th:value="${usuario.roles.NombreRol}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" th:value="${usuario.Email}" readonly>
                    </div>
                </div>    
                <div class="row mb-4">
                    <div class="col-md-6">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" th:value="${usuario.Telefono}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Celular</label>
                        <input type="text" class="form-control" th:value="${usuario.Celular}" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="p-4 shadow-lg rounded bg-white">
                <div class="row mb-4">
                    <h5 class="text-primary mb-3">Dirección</h5>
                    <div th:each="direccion : ${usuario.Direcciones}" class="row mb-3 border-bottom pb-3">
                        <div class="col-md-4">
                            <label class="form-label">Calle</label>
                            <input type="text" class="form-control" th:value="${direccion.Calle}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">No. Exterior</label>
                            <input type="text" class="form-control" th:value="${direccion.NumeroExterior}" readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">No. Interior</label>
                            <input type="text" class="form-control" th:value="${direccion.NumeroInterior}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Colonia</label>
                            <input type="text" class="form-control" th:value="${direccion.Colonia.Nombre}" readonly>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label class="form-label">Municipio</label>
                            <input type="text" class="form-control" th:value="${direccion.Colonia.Municipio.Nombre}" readonly>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label class="form-label">Estado</label>
                            <input type="text" class="form-control" th:value="${direccion.Colonia.Municipio.Estado.Nombre}" readonly>
                        </div>
                        <div class="col-md-4 mt-3">
                            <label class="form-label">País</label>
                            <input type="text" class="form-control" th:value="${direccion.Colonia.Municipio.Estado.Pais.nombre}" readonly>
                        </div>
                    </div>
                    <div th:if="${#lists.isEmpty(usuario.Direcciones)}" class="text-muted fst-italic text-center">
                        El usuario no tiene direcciones registradas
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container my-5">
                <div class="row">
                    <div class="col-2 text-center">
                        
                    </div>
                    <div class="col-8 text-center">
                        <a th:href="@{/UsuarioDetail(idUsuario=${usuario.idUsuario})}" class="btn btn-warning bi bi-pencil-square w-100"></a>
                    </div>
                    <div class="col-2 text-center">
                        
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>
